body {
  background-color: #2c3347;
  color: #ffffff;
}

h1 {
  font-size: 48px;
  font-family: "Arial", sans-serif;
  font-weight: 200;

  text-align: center;
  line-height: 59px;
  margin: 0;
}

.stopwatch {
  text-align: center;
  width: 100%;
}

.atime {
  font-family: "Arial", sans-serif;
  font-weight: 300;
  color: #0cde31;
  font-size: 48px;
}

.btime {
  font-family: "Arial", sans-serif;
  font-weight: 300;
  color: Coral;
  font-size: 48px;
}

.finish_time {
  font-family: "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.controls {
  margin-left: auto;
  margin-right: auto;
  height: 67px;
  width: 440px;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

#playButton {
  display: block;
}

#pauseButton {
  display: none;
}


.button_undo {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

.results {
  width: 100%;
  padding-top: 25px;
}


table {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  width: 200px;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  width: 120px;
  height: 40px;
  overflow: hidden;
}

.tdundo {
	  border: 1px solid black;
  text-align: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.AFleettd
{
  border: 1px solid black;
  color: white;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 200;
  text-align: left;
  padding-left: 5px;
  width: 160px;
  height: 36px;
  overflow: hidden;
}

.BFleettd
{
  border: 1px solid black;
  color: white;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 200;
  text-align: left;
  padding-left: 5px;
  width: 160px;
  height: 36px;
  overflow: hidden;
}


select {

  /* styling */
  background-color: #2c3347;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  line-height: 40px;
  height: 40px;
  padding: 0.0em 1em 0.0em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.box {
    background-color: #2c3347;
    color: #ffffff;
    border: thin solid white;
    vertical-align: top;
    height: 67px;
}

.box select option {
  padding: 10px;
}
